body {
	/* background-color: rgb(19, 18, 26); */
	background-color: rgb(29, 27, 49);
	margin: 0;
}

#header {
	display: flex;
	justify-content: space-between;
	
	position: fixed;
	top: 0;
	width: 100%;
	height: fit-content;
	background: linear-gradient(180deg, rgb(29, 27, 49) 50%, rgba(29, 27, 49, 0.24) 100%);
}

#links{
	display: flex;
	gap: 50px;
}

header {
	border: 2px solid rgb(255, 217, 0);
	background-color: rgb(39, 36, 51);
	border-radius: 10px;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	min-width: fit-content;
	max-width: 600px;
	height: 10px;
	
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

	transform: scale(0.6);

	margin: 60px -70px;
}

.H-elem{
	height: 40px;
	width: fit-content;
	/* border: 1px solid green; */
	margin: 20px auto;
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.H-elem span{
	height: 100%;
	width: 100%;
	color: beige;
}


h1[name="home-name"]{
	font-size: 55px;
	font-family: "Sigmar", Verdana, Geneva, Tahoma, sans-serif;
	padding: 0px 0px;
	margin-bottom: -5px;
	text-shadow: 3px 3px 2px rgb(129, 0, 0);
	min-width: fit-content;
}

a {
	text-decoration: none;
	color: rgb(199, 185, 163);
}

#lf:hover{
	text-shadow: 0 0 4px rgb(199, 185, 163);
}

h2 {
	width: 400px;
	border-bottom: 1px solid rgb(199, 185, 163);
	margin: auto;
	margin-top: -25px;
	font-size: 45px;
	color: rgb(199, 185, 163);
	text-shadow: 2px 2px 3px black;
	font-family: "Teko", Verdana, Geneva, Tahoma, sans-serif;
	/* text-shadow: 3px 3px 2px rgb(129, 0, 0); */
}

.cream {
	color: rgb(199, 185, 163);
}


.divider {
	height: 3px;
	/* background-color: rgb(255, 217, 0); */
	width: 60%;
	border-radius: 25px;
	margin: 30px auto;
}
.divider:first-of-type{
	margin-top: 200px;
}

section[name="course"] {
	border: 2px solid rgb(255, 217, 0);
	background-color: rgb(39, 36, 51);
	/* min-height: 700px; */
	height: fit-content;
	width: 600px;
	padding: 30px 0px;
	margin: auto;
	border-radius: 30px;
	box-shadow: 5px 5px 5px black;
	
	display: flex;
	flex-direction: column;
	gap: 10px;

	animation: slideUp 2s;
}

section[name="course"] div {
	width: 80%;
	height: 50px;
	background: linear-gradient(184deg, rgb(39, 36, 51) 15%,  rgb(19, 18, 26));
	margin: 10px auto;
	border-bottom: 3px solid cornsilk;
	border-radius: 10px 200px 10px 200px;
	font-family: "Teko", Verdana, Geneva, Tahoma, sans-serif;

	display: flex;
	flex-direction: row;
	gap: 20px;

}

.logo {
	object-fit: cover;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	margin: auto;
	margin-right: 70px;
	border: 2px solid rgb(255, 187, 0);
}

h3[name="title"] {
	color: rgb(248, 241, 229);
	margin: 6px auto;
	padding-left: 30px;
	font-size: 30px;
	text-shadow: 3px 3px 2px rgb(39, 13, 32);
	transition: transform 0.5s ease 0s;
}
h3[name="title"]:hover {
	transform: scale(1.1);
}

.a-proj:hover {
	color: rgb(218, 192, 114);
}

section[name="reseau"] {
	/* min-height: 700px; */
	height: fit-content;
	width: fit-content;
	padding: 30px 0px;
	margin: auto;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

.reso {
	width: 50px;
	height: 50px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	box-shadow: 0 0 10px rgb(255, 234, 47);

	animation: appear 2s;
}

.reso:hover {
	transform: scale(2);
	box-shadow: 0 0 4px rgb(255, 234, 47);
}

.reso img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	transition: all 1s;
}
.reso img:hover {
	animation: rot 2s linear infinite;
	transition: all 1s;
}

img[alt="youtube"] {
	background-color: red;
}

/* ############ --- ANIMATION --- ############*/

.link {
	animation: link;
}

@keyframes link {
	0%
	{
		transform: scale(2);
		transform: rotate(0deg);
	}
	100%
	{
		transform: scale(5);
		transform: rotate(720deg);
	}
}

@keyframes rot{
	0%{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}

@keyframes slideUp{
	0%{
		transform: translateY(200px);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes appear {
	0%{
		opacity: 0;
	}
	90%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}