body {
	/* background-color: rgb(19, 18, 26); */
	background-color: rgb(29, 27, 49);
	transition: 0.5s;
}

header {
	border: 2px solid rgb(255, 217, 0);
	background-color: rgb(39, 36, 51);
	border-radius: 10px;
	width: 50%;
	text-align: center;
	margin: auto;
	margin-top: 100px;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 50px;
	min-width: fit-content;
	height: 10px;
}

h1[name="home-name"]{
	font-size: 55px;
	font-family: "Sigmar", Verdana, Geneva, Tahoma, sans-serif;
	padding: 0px 0px;
	margin-bottom: -5px;
	text-shadow: 3px 3px 2px rgb(129, 0, 0);
	min-width: fit-content;
}

a {
	text-decoration: none;
	color: rgb(199, 185, 163);
}

#lf:hover{
	text-shadow: 0 0 4px rgb(199, 185, 163);
}

h2 {
	width: 60%;
	min-width: 700px;
	/* border-bottom: 1px solid rgb(199, 185, 163); */
	margin: -5px auto;
	font-size: 45px;
	padding-left: 100px;
	color: rgb(199, 185, 163);
	text-shadow: 2px 2px 3px black;
	font-family: "Teko", Verdana, Geneva, Tahoma, sans-serif;
	/* text-shadow: 3px 3px 2px rgb(129, 0, 0); */
}

.cream {
	color: rgb(199, 185, 163);
}


.divider {
	height: 3px;
	/* background-color: rgb(255, 217, 0); */
	width: 60%;
	border-radius: 25px;
	margin: 30px auto;
}

section[name="course"] {
	border: 2px solid rgb(255, 217, 0);
	background-color: rgb(39, 36, 51);
	/* min-height: 700px; */
	height: fit-content;
	width: 600px;
	padding: 30px 0px;
	margin: auto;
	border-radius: 30px;
	box-shadow: 5px 5px 5px black;
	
	display: flex;
	flex-direction: column;
	gap: 10px;
}

section[name="course"] div {
	width: 80%;
	height: 70px;
	background: linear-gradient(184deg, rgb(39, 36, 51) 15%,  rgb(19, 18, 26));
	margin: 10px auto;
	border-bottom: 3px solid cornsilk;
	border-radius: 10px 200px 10px 200px;
	font-family: "Teko", Verdana, Geneva, Tahoma, sans-serif;

	display: flex;
	flex-direction: row;
	gap: 20px;
}

.logo {
	object-fit: cover;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	margin: auto;
	margin-right: 70px;
	border: 2px solid rgb(255, 187, 0);
}

h3[name="title"] {
	color: rgb(199, 185, 163);
	margin: 6px auto;
	padding-left: 30px;
	padding-top: 5px;
	font-size: 40px;
	text-shadow: 3px 3px 2px rgb(39, 13, 32);
	transition: transform 0.5s ease 0s;
}
h3[name="title"]:hover {
	transform: scale(1.1);
}

.a-proj:hover {
	color: rgb(218, 192, 114);
}

section[name="reseau"] {
	/* min-height: 700px; */
	height: fit-content;
	width: fit-content;
	padding: 30px 0px;
	margin: auto;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

.reso {
	width: 50px;
	height: 50px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;

	transition: transform 0.5s ease 0s;
}

.reso:hover {
	transform: scale(2);
}

.reso img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.reso img:hover {
	animation: rot 2s linear infinite;
}

img[alt="youtube"] {
	background-color: red;
}

/* ############ --- ANIMATION --- ############*/

.link {
	animation: link;
}

@keyframes link {
	0%
	{
		transform: scale(2);
		transform: rotate(0deg);
	}
	100%
	{
		transform: scale(5);
		transform: rotate(720deg);
	}
}

@keyframes rot{
	0%{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
